#tit{
text-align: center;
    font-family: monospace;
    background-color: azure;
}
#titadmin{
    text-align: center;
    background-color: azure
}
#admin{
float: left;
}
#textadmin{
       text-align: right;
    width: 77%;
    float: right;
}
#titturi{
    text-align: center;
    background-color: azure
}
#textturi{
    text-align: end;
    width: 80%;
}
#turi{
    float: right;
}
#redes{
    text-align: center;
        background-color: azure
}
#textred{
    text-align: right;
    width: 77%;
    float: right;
}
#imgred{
    width: 300px
}
#ciencia{
    text-align: center;
    background-color: azure;
}
#textciencia{
    text-align: left;
width: 77%;
float: left;
}
#imgciencia{
width: 300px    
}
#titconta{
    text-align: center;
    font-size: 20px;
background-color: azure;
}
#textconta{
  text-align: right;
    width: 77%;
    float: right;
}
#imgconta{
    width: 300px
}
body{
    background-color: aquamarine;
}